body{
   background-color: #fbf6f0;
}
p{
   color: black;
}
.title-container {
   padding: 0px 0px 0px 0px;
   text-align: center;
   position: relative;
   right: -50%;
   transform: translateX(-50%);
   display: block;
   

}
.title{
   font-family: 'Merriweather Sans', sans-serif;
   font-weight: bolder;
   font-size: 40px;
   margin: 20px;
}

.content{
   display: flex ;
   flex-flow: row wrap;
   margin-left: 10px;
   margin-right: 10px;
   
   
}
.flex-pro{
   font-size: 20px;
   background-color: #e5e5e5;
   text-align: left;
   font-family:'Merriweather Sans';
   font-weight: 400;
   padding: 10px;
   
   flex-basis: 50px;
   
}
#one{
   order: 1;
   flex-grow: 1;
   
}
#two{
   order: 2;
   flex-grow: 1;
   
}
#three{
   order: 3;
   flex-grow: 1;
   
}
#four{
   order: 4;
   flex-grow: 1;
   
}

span{
   font-weight: bold ;
}
.img-container{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 5px;
   margin-bottom: 10px;
   
   
}
.img{
   
   width: 50px;
   margin : 11px;
   flex: 200px;

   
} 
#img1{
 
}
#img2{
   
}

.container{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   padding: 5px;
   padding-bottom: 0px;
}
.footer1{
   background-color: #e5e5e5;
   margin: 10px;
   margin-bottom: 100000px;
   font-family: "Roboto Condensed";
}

.thanks{
   margin-left: 5px;
   font-size: 17px;
   display: inline;
   order: 1;
   flex-grow: 3;
}

.myButton {
	background-color:#66676b;
	border-radius:28px;
	border:1px solid #66676b;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:15px;
	padding:7px;
   text-decoration:none;
   text-shadow: 1px;
   width: auto;
   height: auto;
   text-align: center;
   margin: 10px;
   order: 2;
   flex-grow: 1;
   
}
.myButton:hover {
	background-color:#393b44;
}
.myButton:active {
	position:relative;
	top:1px;
}
.credits{
   font-family: "Roboto Condensed";
   padding: 0px 0px 10px 10px ;
   margin: 0px 10px 10px 10px;
   background-color: #e3dfc8 ; 
}
.link{
   color: black;
}
.container1{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 50px;
   margin-bottom: 10px;
}

.text1{
  font-family: 'Merriweather Sans', sans-serif;
}
.para1-container{
   font-size: 17px;
   background-color: #e5e5e5;
   text-align: left;
   font-family:'Merriweather Sans';
   
 padding: 20px;
   
   order: 1;
   flex-grow: 3;
   
}
.image1{
   order: 2;
   flex-grow: 1;
   padding: 25px;
   background-color: #e5e5e5;
}
#content1{
   width: 50px;
   flex: 350px;
}



.container2{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 20px;
   margin-bottom: 10px;
}

.text2{
  font-family: 'Merriweather Sans', sans-serif;
}
.para2-container{
   font-size: 17px;
   background-color: #e5e5e5;
   text-align: left;
   font-family:'Merriweather Sans';
   
 padding: 25px;
   
   order: 2;
   flex-grow: 3;
   
}
.image2{
   order: 1;
   flex-grow: 1;
   padding: 25px;
   background-color: #e5e5e5;
}
#content2{
   width: 50px;
   flex: 350px;
}