body{
   background-color: #f5f1da;
}
p{
   color: black;
}
.title-container {
   padding: 0px 0px 0px 0px;
   text-align: center;
   position: relative;
   right: -50%;
   transform: translateX(-50%);
   display: block;
   

}
.title{
   font-family: "Roboto Condensed";
   font-weight: bold;
   font-size: 40px;
   margin: 20px;
}

.content{
   display: flex ;
   flex-flow: row wrap;
   
   
}
.flex-pro{
   font-size: 30px;
   background-color: #e3dfc8;
   text-align: left;
   font-family: "Roboto Condensed";
   font-weight: lighter;
   padding: 10px;
   margin: 10px ;
   flex-basis: 50px;
   
}
#one{
   order: 1;
   flex-grow: 1;
   
}
#two{
   order: 2;
   flex-grow: 1;
   
}
#three{
   order: 3;
   flex-grow: 1;
   
}
#four{
   order: 4;
   flex-grow: 1;
   
}

span{
   font-weight: 400;
}
.img-container{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 5px;
   margin-bottom: 10px;
   
   
}
.img{
   
   width: 200px;
   margin : 11px;
   flex: 200px;

   
} 
#img1{
 
}
#img2{
   
}

.container{
   display: flex ;
   flex-flow: row nowrap;
   padding: 5px;
   padding-bottom: 0px;
}
.footer1{
   background-color: #e3dfc8 ;
   margin: 10px;
   margin-bottom: 0px;
   font-family: "Roboto Condensed";
}

.thanks{
   margin-left: 5px;
   font-size: 17px;
   display: inline;
   order: 1;
   flex-grow: 3;
}

.myButton {
	background-color:#66676b;
	border-radius:28px;
	border:1px solid #66676b;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:15px;
	padding:7px;
   text-decoration:none;
   text-shadow: 1px;
   width: auto;
   height: auto;
   text-align: center;
   margin: 10px;
   order: 2;
   flex-grow: 1;
   
}
.myButton:hover {
	background-color:#393b44;
}
.myButton:active {
	position:relative;
	top:1px;
}
.credits{
   font-family: "Roboto Condensed";
   padding: 0px 0px 10px 10px ;
   margin: 0px 10px 10px 10px;
   background-color: #e3dfc8 ; 
}
.link{
   color: black;
}



